backend/ocr_service/utils/__pycache__
backend/ocr_service/__pycache__
backend/ocr_service/model/__pycache__
frontend/node_modules/
backend/output/
backend/input/
frontend/build/
backend/__pycache__/
.code_assistant/
backend/doc_service/__pycache__/
backend/doc_service/ai_services/__pycache__/
backend/__pycache__/

DeekSeek-OCR--Dockerized-API/
download_log.txt
backend/deepseek_ocr_service/__pycache__/
backend/dots_ocr_service/__pycache__/
backend/dots_ocr_service/model/__pycache__/
backend/dots_ocr_service/utils/__pycache__/
backend/__pycache__/
backend/__pycache__/main.cpython-313.pyc
backend/__pycache__/worker_pool.cpython-313.pyc
