backend/ocr_service/utils/__pycache__
backend/ocr_service/__pycache__
backend/ocr_service/model/__pycache__
frontend/node_modules/
backend/output/
backend/input/
frontend/build/
backend/__pycache__/
.code_assistant/
backend/doc_service/__pycache__/
backend/doc_service/ai_services/__pycache__/
backend/__pycache__/

DeekSeek-OCR--Dockerized-API/
download_log.txt
backend/deepseek_ocr_service/__pycache__/
backend/dots_ocr_service/__pycache__/
backend/dots_ocr_service/model/__pycache__/
backend/dots_ocr_service/utils/__pycache__/
backend/__pycache__/
DeepSeek-OCR-Web-main/
backend/gemma_ocr_service/__pycache__/
backend/qwen_ocr_service/__pycache__/
backend/utils/__pycache__/
backend/rag_service/__pycache__/
backend/db/__pycache__/
backend/rag_service/storage/__pycache__/
backend/test/__pycache__/
backend/rag_service/graph_rag/__pycache__/
backend/auth/__pycache__/
backend/chat_service/__pycache__/
backend/queue_service/__pycache__/
