# 生产环境依赖
# streamlit
gradio
gradio_image_annotation
PyMuPDF
openai
qwen_vl_utils
transformers==4.51.3
huggingface_hub
modelscope
flash-attn==2.8.0.post2
accelerate
python-dotenv
fastapi
uvicorn
python-multipart

# RAG Chatbot dependencies
langchain>=0.3.0
langchain-qdrant
langchain-ollama
langchain-community
langgraph
qdrant-client
watchdog
requests
